/* ========== 英文字体 Playpen Sans Deva ========== */
@font-face {
  font-family: 'PlaypenSans';
  src: url('/assets/fonts/PlaypenSansDeva-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'PlaypenSans';
  src: url('/assets/fonts/PlaypenSansDeva-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'PlaypenSans';
  src: url('/assets/fonts/PlaypenSansDeva-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

/* ========== 日文字体 Noto Serif JP ========== */
@font-face {
  font-family: 'NotoSerifJP';
  src: url('/assets/fonts/NotoSerifJP-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifJP';
  src: url('/assets/fonts/NotoSerifJP-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifJP';
  src: url('/assets/fonts/NotoSerifJP-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

/* ========== 中文字体 Noto Serif SC ========== */
@font-face {
  font-family: 'NotoSerifSC';
  src: url('/assets/fonts/NotoSerifSC-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifSC';
  src: url('/assets/fonts/NotoSerifSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifSC';
  src: url('/assets/fonts/NotoSerifSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

/* ========== 全局应用字体 ========== */
body {
  font-family: "PlaypenSans", "NotoSerifJP", "NotoSerifSC", "Microsoft YaHei", "PingFang SC", serif;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 1.7;
}

h1, h2, h3, strong {
  font-weight: 700;
}

small, blockquote {
  font-weight: 300;
}


/* 控制头像尺寸样式 */
.site-avatar img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}


